.main {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.video {
  border-radius: 8px;
}

.muteBtn {
  position: absolute;
  z-index: 100px;
  bottom: 20px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(240, 255, 255, 0.595);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  height: 420px;

}