.createMain {
    width: 626px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.createMain p {
    margin: 0;
    text-align: start;
    color: rgba(153, 153, 153, 1);
}

.imageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imageDivDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.imageDivItem {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nickName {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: black !important;
}

.postName {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 149, 246, 0.35) !important;
}

.plusDiv {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
}

.startBtn {
    width: auto;
    padding: 0;
    height: 19px;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(153, 153, 153, 1);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: text;
}

.closeModal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

