.text{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    }
    .desc{
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(140, 140, 140, 1);
    margin: 0;
    }
    .textDiv{
        margin-bottom: 20px;
        width: 437px;
    }