.text{
font-size: 17px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
}
.designDiv{
    width: 639px;
height: 60px;
padding: 9.88505744934082px 49.42528533935547px 9.88505744934082px 49.42528533935547px;
border-bottom: 1px solid black;
text-align: center;


}