.imgDiv{
    width: 574px;
height: 36px;
gap: 10px;
display: flex;
}
.imgDivNick{
    width: 528px;
height: 20px;
padding: 2px 8px 0px 0px;
display: flex;
justify-content: space-between;
align-items: center;
}
.imgDiv p{
    margin: 0;
}
.nick{
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}
.textAndBtnDiv{
    padding-left: 46px;
    width: 574px;
}
.time{
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.008em;
text-align: left;
color: rgba(153, 153, 153, 1);

}
.ava {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.message {
    display: block;
    width: 528px;
    height: auto;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.016em;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.likeText {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.016em;
    text-align: left;
    margin: 0;
    color: rgba(153, 153, 153, 1);
}

.btnDiv {
    width: 128px;
    height: 22px;
    display: flex;
    justify-content: space-between;

}

.btn {
    width: 20px;
    height: 20px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descDiv {
    width: 575px;
    height: auto;
    gap: 10px;
}

.btnAndLikes {
    display: flex;
    width: 128px;
    height: 57px;
    padding: 5px 0px 0px 0px;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
}

.likesDiv {
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeTextOnly {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.016em;
    text-align: left;
    margin: 0;
    color: rgba(153, 153, 153, 1);
}

/* 
.likeTextOnly::before {
    content: "-";
    padding-right: 10px;
    display: block;
    width: 1px;
    height: 1px;
} */



.repostModal {
    width: 450px;
    height: 129px;
    padding: 21px 16px 20px 16px;
    border-radius: 12px;
}

.removeBtn {
    width: 418px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    color: red;
    cursor: pointer;

}

.quoteBtn {
    width: 418px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    color: black;
    cursor: pointer;

}

.bigImg {
    width: 567px;
    height: 316px;
    border-radius: 8px;
    margin-top: 5px;
}

.repostBtn {
    width: 418px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    color: black;
    cursor: pointer;
}